<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login/Registration</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <h3>Register</h3>
    <form id ="register" action="{% url 'users:register' %}" method='POST'>
      {% csrf_token %}
      Name: <input id="name" type="text" name="name">
      <br>
      Username: <input id="username" type="text" name="username">
      <br>
      Password: <input id="password" type="password" name="password">
      <br>
      *Password should be at least 8 characters
      <br>
      Confirm PW: <input id="confirm_password" type="password" name="confirm_password">
      <br>
      <input id="register" type="submit" value="Register">
    </form>
    <h3>Login</h3>
    <form id ="login" action="{% url 'users:login' %}" method='POST'>
      {% csrf_token %}
      Username: <input id="login_username" type="text" name="username">
      <br>
      Password: <input id="login_password" type="password" name="password" >
      <br>
      <input id="login" type="submit" value="Login">
    </form>
  </body>
</html>
